 <div class="row " style="
    padding: 5em; ">
  <div class="col-1"></div>
    <div class="col fundal"> 
 <form name="form" class="formular"  ng-submit="login()" > 
 <div class="container">
  <div class="form-group">
 
    <label for="exampleInputEmail1">Email address/username </label>
    <input type="text" class="form-control" id="exampleInputEmail1" 
aria-describedby="emailHelp" ng-model="user.logemail"  placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share 
your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" 
id="exampleInputPassword1" ng-model="user.logpassword"  placeholder="Password">
</div>
  <div class="form-check">
  </div>
  <button type="submit" class="btn btn-primary"> Submit </button> </div> </form>
 </div> <div class="col-3"></div>
</div>
