<div class="container-fluid" style="padding: 0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" id="site"   ui-sref='contacts'>Origami</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" 
data-target="#navbarSupportedContent" 
aria-controls="navbarSupportedContent" aria-expanded="false" 
aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" ui-sref='acasa'>Acasa <span 
class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" ng-hide="username">
        <a class="nav-link" ui-sref='account.login'>Log in or 
Register</a>
      </li>
       <li class="nav-item" ng-show="username">
        <a class="nav-link" ui-sref='profile({username: username})'>Profile</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" 
placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" 
type="submit">Search</button>
    </form>
  </div> </nav>
</div>
