<navbar></navbar>
 	<div class="container">
<div class="jumbotron .fundal ">
  <h1 class="display-3">Bine ai venit pe portalul pasionatilor de origami!</h1>
  <p class="lead">Aici este locul de unde sa gasesti inspiratie pentru viitoarele origamiuri si unde sa intri intr-o comunitate de oameni pasionati ca tine!</p>
  <hr class="my-4">
  <p>Daca vrei si tu sa intri in aceasta comunitate, nu ezita sa te inregistrezi/sa intri in cont!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg"  ui-sref='account.login'  role="button">Apasa aici pentru a incepe!</a>
  </p>
</div>
</div>

